%script{:id => 'playlist_list_item', :type => 'text/html'}
  \<div class="list-item" data-url="{{playlist_url}}" data-source="{{source}}" data-username="{{username}}">
  \<img src="{{image_url}}" />
  %h3 {{name}}
  %p by {{username}}
  .clearfix
  \</div>