%script{:id => 'login_modal', :type => 'text/html'}
  #login-modal.modal
    .modal-header
      %button.close{:data => {:dismiss => 'modal'}, :type => 'button'} ×
      %h3 Connect with Facebook
    .modal-body
      %a{:href => '/auth/facebook'} Do it bro