= form_tag('/search', :method => 'get', :id => 'big_search') do
    = text_field_tag(:query)
    = submit_tag('Find playlists', :id => 'search_submit')

#container
    - 24.times do |i|
        .item
            PLAYLIST