
#container
    #tile-container
        - @playlists.each do |obj|
            .item
                .front.playlist-item{:data => {:source => obj['source'], :url => obj['playlist_url']}}
                    %p= obj['name']
                    %img{:src => obj['image_url']}
                    .controls
                        .source.ir{:class => obj['source']}= obj['source']
                        %a.like{:href => '/api/like'} Like
                .back