/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

html, body {
  height: 100%;
}

html, body, p,
button, input {
  font-family: "ratio-1","ratio-2",sans-serif;
  font-weight: 300;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#container {
  margin: 0 auto;
  z-index: 500;
  margin-top: 22px;
}

#playlist-grid {
  margin: auto 0;
}

#player {
  @include box-shadow(inset rgba(0,0,0,.4) 0 1px 3px);
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 100px;
  height: 100%;
  width: 240px;
  z-index: 950;
  display: none;
}

#form-container {
  height: 60px;
  background-color: #ddd;
  z-index: 900;
  position: relative;
  padding: 12px 0 10px;
  input[type="text"] {
    font-size: 28px;
    line-height: 32px;
    height: 48px;
    width: 100%;
//    @include border-left-radius(3px);
//    @include border-right-radius(0);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2));
  }
  input[type="submit"] {
    height: 58px;
    width: 100%;
    font-family: "ratio-1","ratio-2",sans-serif;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    font-size: 22px;
    background-color: #BDD630;
    @include box-shadow(none);
    line-height: 44px;
//    @include border-top-left-radius(0);
//    @include border-top-right-radius(3px);
//    @include border-bottom-left-radius(0);
//    @include border-bottom-right-radius(3px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2));
    
    &:hover {
     background-color: #afce00; 
    }
    
  }
  .span3 {
//    margin-left: 10px;
  }
}

#abovenav {
  height: 100px;
  @include box-shadow(rgba(0,0,0,.4) 0 1px 3px);
  z-index: 999;
  position: relative;
  background-color: #eee;
  a img {
    margin-top: 15px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  a#header-signin, a#header-signin:hover, a#header-signin:active, a#header-signin:visited {
    margin-top: 20px;
    background-image: url('fb-header-btn.png');
    background-repeat: no-repeat;
    width: 217px;
    height: 60px;
    display: block;
    background-position: 0 0;
  }
  a#header-signin:hover {
    background-position: 0 -61px;
  }
}

.item {
  width: 200px;
  height: 226px;
  padding: 4px;
  margin: 10px;
  position: relative;
  
  img {
    width: 200px;
    height: 200px;
  }
  
  p {
    
    position: absolute;
    display: inline-block;
    max-width: 192px;
    padding: 4px;
    background-color: rgba(0,0,0,.7);
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    
  }
  
  .controls {
    .source {
      float: left;
      width: 22px;
      height: 22px;
      &.rdio {
        background-image: url('rdio-small.png');
      }
      &.soundcloud {
        background-image: url('soundcloud-small.png');
      }
      &.spotify {
        background-image: url('spotify-small.png');
      }
      &.youtube {
        background-image: url('youtube-small.png');
      }
    }
    a {
      float: right;
    }
  
  }
  
  .playlist-image {
    width: 200px;
    height: 200px;
  }
  
}

.profile {
  height: 160px;
  margin-top: 24px;
  h1 {
    margin-top: 18px;
    font-size: 36px;
  }
}

.user-image-container {
  padding: 10px;
  background-color: #eee;
  @include box-shadow(rgba(0,0,0,.4) 0 1px 3px);
}

.user-image{
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  img {
    display: block;
  }
}

#playlist-items {
  .list-item {
    img {
      float: left;
    }
    h3 {
      display: block;
      font-weight: bold;
    }
    border-top: 1px solid #ccc;
    padding: 4px 0;
  }
}

#footer {
  height: 240px;
  margin-top: 120px;
  background-color: #ccc;
}

// Face-smashing 3d transforms
.item {
	font-size: .8em;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.item .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit;
	
	background-color: #eaebeb;
  @include box-shadow(rgba(0,0,0,.4) 0 1px 3px);
	
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.item.flip .front {
	z-index: 900;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

}

.item .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;
	height: inherit;
	
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	
	background-color: #eaebeb;
  @include box-shadow(rgba(0,0,0,.4) 0 1px 3px);
}

.item.flip .back {
	z-index: 1000;
	
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);

}