%script{:id => 'playlist_tile', :type => 'text/html'}
    .item
        \<div class="front playlist-item" data-source="{{source}}" data-url="{{playlist_url}}" data-name="{{name}}" data-src="{{image_url}}">
        %p {{name}}
        \<img class="playlist-image" src="{{image_url}}" />
        .controls
            \<div class="source ir {{source}}">{{source}}</div>
            %a.like.ir{:href => '/api/like'} Like
        \</div>
        .back