%script{:id => 'playlist_tile', :type => 'text/html'}
    \<div class="item" data-source="{{source}}" data-url="{{playlist_url}}">
    %p {{name}}
    .controls
        \<div class="source {{source}}">{{source}}</div>
    \<img class="playlist-image" src="{{image_url}}" />
    \</div>