%script{:id => 'playlist_tile', :type => 'text/html'}
    .item
        %p {{name}}
        .controls
            \<div class="source {{source}}">{{source}}</div>
        \<image class="playlist-image" src="{{image_url}}" />