%script{:id => 'soundcloud_widget', :type => 'text/html'}
    \<iframe width="240" height="100%" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url={{url}}&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>