%script{:id => 'spotify_widget', :type => 'text/html'}
  .player-container
    \<iframe src="https://embed.spotify.com/?uri={{url}}" width="440" height="478" frameborder="0" allowtransparency="true"></iframe>