%script{:id => 'youtube_widget', :type => 'text/html'}
  .player-container
    \<iframe width="680" height="478" src="http://www.youtube.com/embed?listType=playlist&list=PL{{url}}" frameborder="0"></iframe>