%p#notice= notice
  
.item-grid-container
  .item
    .front.playlist-item{:data => {:source => @playlist['source'], :url => @playlist['url']}}
      %p= @playlist['name']
      %img{:src => @playlist['image_url']}
      .controls
        .source.ir{:class => @playlist['source']}= @playlist['source']
        %a.like{:href => '/api/like'} Like
    .back
  
