= link_to "Mixxy", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      Logged in as #{link_to current_user.name, user_path(current_user)}
    %li
      = link_to('Logout', signout_path)
  - else
    %li
      = link_to('Login', signin_path)